@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.logo {
  position: relative;
  z-index: 1;
}
.logo::after {
  content: "";
  position: absolute;
  top: 50%;
  translate: -50% -50%;
  left: 50%;
  width: 2.083%;
  height: 118.75%;
  background-color: white;
  rotate: -32deg;
  z-index: 2;
}
.logo::before {
  content: "";
  position: absolute;
  top: 50%;
  translate: -50% -50%;
  left: 50%;
  width: 2.083%;
  height: 118.75%;
  background-color: white;
  rotate: 32deg;
  z-index: 2;
}
.logo-sign {
  clip-path: polygon(
    0 50%,
    21.428% 0,
    78.57% 0,
    100% 50%,
    78.57% 100%,
    21.428% 100%
  );

  font-family: "Poppins", sans-serif;
}
.logo-top {
  clip-path: polygon(
    0 100%,
    16.6% 0,
    20.83% 25.625%,
    8.33% 100%,
    12.5% 100%,
    29.16% 0,
    70.83% 0,
    87.5% 100%,
    91.66% 100%,
    79.16% 25.625%,
    83.3% 0,
    100% 100%
  );
}

.logo-bottom {
  clip-path: polygon(
    0 0,
    16.6% 100%,
    20.83% 75.625%,
    8.33% 0,
    12.5% 0,
    29.16% 100%,
    70.83% 100%,
    87.5% 0,
    91.66% 0,
    79.16% 75.625%,
    83.3% 100%,
    100% 0
  );
}
